{
    "env": {
        "es6": true
    },
    "ecmaFeatures": {
        "classes": true,
        "modules": true
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
}
