doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/base.css")
    block css
  body
    block content
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    block scripts
