extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controles="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(rel='home', title='Sandbox')
                    img(src='/favicon.ico', style='height: 36px; margin-top: -8px')
                a.navbar-brand(href="/") Sandbox
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a Log In
                    li
                        a(href="/sign_up") Sign Up

    .container
        .row
            .col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
                .panel.panel-default
                    .panel-body
                        h1 Log In
                        hr
                        form(action="/login")
                            .form-group
                                input#username.form-control(placeholder="Username" type="text" rows="1" autofocus="autofocus")
                            .form-group
                                input#password.form-control(placeholder="Password" type="password" rows="1")
                            label.form-group
                                input#remember-me(type="checkbox")
                                |  Remember Me
                            .row
                                .col-xs-6
                                    button.btn.btn-md.btn-primary.btn-block(type="submit") Login
                                .col-xs-6
                                    p
                                    h6.text-center
                                        a(href="/sign_up") Or Register
                                    p
