<html>
    <head>
        <title> Hello, SoDA! </title>
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
        <link rel="stylesheet" type="text/css" href="styles/xterm.css" />
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6 full-height-column">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a>File Tree</a>
                    </li>
                    <li>
                        <a>Some File</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="file_tree_tab">
                        <p>
                            Hello, World!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 full-height-column" id="term">
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.1.0.min.js"> </script>
        <script type="text/javascript" src="js/bootstrap.min.js"> </script>
        <script type="text/javascript" src="js/xterm.js"></script>
        <script type="text/javascript" src="js/fit.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
